* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.title {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
}

.nav1, .nav2 {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

.nav1 {
    text-align: left;
}

.nav2 {
    text-align: right;
}

.nav1 li, .nav2 li {
    display: inline;
}

.nav1 a, .nav2 a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}



main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px 20px;
}

.btn:hover {
    background-color: #555;
}

.features {
    margin-top: 50px;
}

.features h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.features ul {
    list-style-type: none;
}

.features ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}